.container {
  background-color: #fff;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.tags {
  margin: 0 auto;
  background-color: #f4f4f4;
  width: 800px;
  padding: 20px;
}

.element {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 10px;
  background-color: #efefef;
  box-sizing: border-box;
  word-wrap: break-word;
}

.tags-input {
  margin: 10px 0;
}

.delete-tag-button {
  border: 1px solid #fff;
  background-color: #f4f4f4;
  color: #848587;
  font-weight: 900;
  border-radius: 3px;
}

.tags-input button {
  background-color: #2371af;
  border-radius: 7px;
  color: #fff;
  font-weight: 900;
  border-style: none;
  padding: 4px 10px;
  cursor: pointer;
  user-select: none;
}

.tags-input button:focus {
  outline:none;
}
